<footer>
  <div class="footerTurnos">
    <div class="container row row-cols-1 row-cols-sm-3">
      <div class="contact-info">

      <p>
        <a href="https://wa.me/5493517152375" target="_blank" rel="noopener">
          <img src="assets/icono-whatsapp.png" alt="Whatsapp" style="width:24px; height:24px;" />
        </a>
        +54 9 351 715-2375
      </p>


      <p>
        <a href="mailto:daseg38@gmail.com">
          <img src="assets/icono-email.png" alt="Email" style="width:24px; height:24px;" />
        </a>daseg38&#64;gmail.com
      </p>

      <p>
        <a
          href="https://www.google.com/maps?q=Shopping+Melos+Alberdi+50+Villa+Carlos+Paz+Córdoba+Argentina"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="assets/icono-ubicacion.png" alt="Ubicación" style="width:24px; height:24px;" />
        </a>
        Shopping Melos - Alberdi 50 - Villa Carlos Paz - Córdoba - Argentina
      </p>
    </div>

    <div class="useful-links">
        <ul>
          <li>
            <a href="https://www.facebook.com/search/top?q=lucia%20soledad%20carletta" target="_blank" rel="noopener noreferrer">
              <img src="assets/logo-facebook.svg" alt="Facebook" style="width:36px; height:36px;" />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/@carlettalucia" target="_blank" rel="noopener noreferrer">
              <img src="assets/logo-instagram.svg" alt="Instagram" style="width:36px; height:36px;" />
            </a>
          </li>
        </ul>

      </div>
      <div class="copyright">
        <p>&copy; 2025 Lucía Carletta - Estudio Pilates</p>
      </div>
    </div>
  </div>
</footer>
