footer {
  width: 100%;
  background-color: #888888; 
  color: #000000; 
  padding: 4px 0;           
  font-family: Arial, sans-serif;
  font-size: 11px;          
  border-top: 1px solid #b55d8e; 
  z-index: 1000;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  margin: 0;

}

.footerTurnos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  padding-left: 0px;
}

.footerTurnos .container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center; /* para centrar verticalmente */
}

.footerTurnos p,
.footerTurnos li {
  font-size: 10px;        /* nuevo valor */
  line-height: 1.1;       /* nuevo valor */
  margin: 2px 0; /* menos separación vertical */
}

.footerTurnos ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px; /* espacio entre iconos */
}

.footerTurnos ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerTurnos ul li a:hover {
  color: #fff;
}

.footerTurnos .copyright {
  margin-top: 4px;
  text-align: center;
  font-size: 10px;
  border-top: 1px solid #b55d8e;
  padding-top: 4px;
  color: #333333;
  flex-basis: 100%; /* para que ocupe toda la línea */
}

.footerTurnos .contact-info {
  margin-right: 10px;
  vertical-align: middle;
  flex: 1 1 auto;
  text-align: left;
  margin-left: -120px; 
}


.footerTurnos .useful-links {
  flex: 0 0 auto;
  margin-left: auto;
  text-align: right;
}

.copyright {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el logo y el texto */
  justify-content: center; /* Opcional, centra horizontalmente */
  font-size: 14px;
}

.logo-inline {
  height: 40px; /* Ajustá según el tamaño de tu logo */
  width: auto;
}

