<section class="welcome">
  <h2>Bienvenida al Estudio de Pilates Lucía Carletta</h2>
  <p>Reservá tus clases fácilmente y gestioná tu plan mensual.</p>
  <p>Para comenzar, por favor <a routerLink="/login">Iniciar Sesión</a> o <a routerLink="/register">Registrarse</a>.</p>

  <div id="carouselExampleInterval" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000"> 
        <img id="img1" src="assets/img1.jpg" alt="imagen1" >
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img id="img2" src="assets/img2.jpg" alt="imagen2">

      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img id="img3" src="assets/img3.jpg" alt="imagen3" >

      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img id="img4" src="assets/img4.jpg" alt="imagen4" >

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>