<section class="welcome-hero">
  <!-- <video autoplay muted loop playsinline class="background-video">
    <source src="assets\videos\video ingreso por florida.mp4" type="video/mp4" />
    Tu navegador no soporta videos HTML5.
  </video> -->

  <div class="hero-content">
    <h1>Hacé una pausa, respirá y reconectá con vos misma<br>en un espacio pensado para tu bienestar.</h1>
    <a routerLink="/clases" class="hero-btn">Empezar aquí</a>
  </div>
</section>
<section class="intro-text">
  <h2>Mereces sentirte bien</h2>
  <p>
    Mi compromiso es ofrecerte un espacio donde priorices tu bienestar,
    aprendiendo a moverte y a cuidar tu cuerpo y tu mente de forma sencilla y guiada.
  </p>
</section>

<p class="firma">Lucía Carletta</p>
