.table-container {
  margin: 40px auto;
  max-width: 90%;
  background: #F5F5F5;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  background-image: url('/assets/fotos/estudio vacio.jpg');
  background-repeat: no-repeat;      /* Evita que la imagen se repita */
  background-size: cover;            /* Hace que la imagen cubra todo el contenedor */
  background-position: center 90%; /*sube la imagen hacia  */
  background-color: rgba(255,255,255,0.5); /* Blanco semitransparente encima */
  background-blend-mode: lighten;
}

h2 {
  display: inline-block; /* Para que se ajuste al contenido */
  padding: 18px 24px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #b53490;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, #ffffff, #dbccd1);
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px #ddd;
  margin-bottom: 16px;
  display: block;
  width: fit-content;
  margin: 16px auto 16px auto;
  border: 2px solid black;
}

/* Encabezado fucsia con gradiente */
thead {
  background: linear-gradient(to bottom, #ffffff, #dbccd1);
  color: #B53490;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 10px;
  text-align: center;
  min-width: 700px;
}

th {
  padding: 14px 16px;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  background: linear-gradient(to bottom, #ffffff, #dbccd1);
  color: #b53490;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px #ddd;
  border: 2px solid black;
}

td {
  padding: 6px 8px;
  border: 1px solid #ddd;
}

tbody tr {
  background: transparent;
  box-shadow: none;
}


tbody tr:hover {
  background-color: #fdf1f6;
}

/* Colores por nivel */
.inicial {
  background-color: #d4edda;
}

.intermedio {
  background-color: #fff3cd;
}

.avanzado {
  background-color: #f8d7da;
}

.no-disponible {
  background-color: #e2e3e5;
  color: #6c757d;
  opacity: 0.5;
}


td > div {
  padding: 4px 6px;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: inset 0 0 0 1px #ddd;
  border: 2px solid black;

}

.clickeable {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clickeable:hover {
  transform: scale(1.02);
  box-shadow: 0 0 4px #aaa;
}

.hora-columna {
  background: linear-gradient(to bottom, #ffffff, #dbccd1);
  color: #b53490;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px #ddd;
  border: 2px solid black;
}

.inicial,
.intermedio,
.avanzado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

.inicial .nivel,
.intermedio .nivel,
.avanzado .nivel {
  font-weight: bold;
  margin-bottom: 4px;
}

.inicial .camas,
.intermedio .camas,
.avanzado .camas {
  font-weight: normal;
  font-size: 13px;
}
