<div class="table-container" *ngIf="horarios.length > 0">
  <h2>Horarios Disponibles</h2>
  <table>
    <thead>
      <tr>
        <th>Horario</th>
        <th *ngFor="let dia of dias">{{ dia }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hora of horas">
        <td class="hora-columna">{{ hora }}</td>
        <td *ngFor="let dia of dias">
          <div
            [ngClass]="[
              getNivelParaHorario(dia, hora).toLowerCase().replace(' ', '-'),
              isClickable(dia, hora, getNivelParaHorario(dia, hora)) ? 'clickeable' : '',
              false ? 'no-disponible' : ''
            ]"
            (click)="reservar(dia, hora, getNivelParaHorario(dia, hora))"
          >
            <span *ngIf="getNivelParaHorario(dia, hora) !== 'No disponible'">
              {{ getNivelParaHorario(dia, hora) }}<br>
              Camas libres: {{ getDisponibles(dia, hora, getNivelParaHorario(dia, hora)) }}
            </span>
            <span *ngIf="getNivelParaHorario(dia, hora) === 'No disponible'">
              No disponible
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="snackbar" *ngIf="mostrarMensajeActualizacion">
    ✅ Horarios actualizados
  </div>
</div>