.table-container {
  margin: 40px auto;
  max-width: 90%;
  background: #F5F5F5;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

h2 {
  text-align: center;
  color: #b53490;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Encabezado fucsia con gradiente */
thead {
  background: linear-gradient(to bottom, #645f61, #a2979b);
  color: #B53490;

}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 10px;
  text-align: center;
  min-width: 700px;
}

th {
  padding: 14px 16px;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  background: linear-gradient(to bottom, #a19a9c, #dbccd1);
  color: #b53490;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px #ddd;
}

td {
  padding: 6px 8px;
  border: 1px solid #ddd;
}

tbody tr {
  background: transparent;
  box-shadow: none;
}


tbody tr:hover {
  background-color: #fdf1f6;
}

/* Colores por nivel */
.inicial {
  background-color: #d4edda;
}

.intermedio {
  background-color: #fff3cd;
}

.avanzado {
  background-color: #f8d7da;
}

.no-disponible {
  background-color: #e2e3e5;
  color: #6c757d;
  opacity: 0.5;
}


td > div {
  padding: 4px 6px;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: inset 0 0 0 1px #ddd;
}
.clickeable {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clickeable:hover {
  transform: scale(1.02);
  box-shadow: 0 0 4px #aaa;
}

.hora-columna {
  background: linear-gradient(to bottom, #a19a9c, #dbccd1);
  color: #b53490;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px #ddd;
}

.inicial,
.intermedio,
.avanzado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

.inicial .nivel,
.intermedio .nivel,
.avanzado .nivel {
  font-weight: bold;
  margin-bottom: 4px;
}

.inicial .camas,
.intermedio .camas,
.avanzado .camas {
  font-weight: normal;
  font-size: 13px;
}
