<!-- Navbar cuando está logueado -->
<nav class="navbar" *ngIf="auth.isLoggedIn(); else noLogueado">
  <div class="nav-left">
    <a routerLink="/">Inicio</a>
  </div>
  <div class="nav-right">
    <a (click)="logout()" class="action-btn" style="cursor:pointer;">Cerrar sesión</a>

  </div>
</nav>

<!-- Navbar cuando NO está logueado -->
<ng-template #noLogueado>
  <nav class="navbar">
    <div class="nav-left">
      <a routerLink="/">Inicio</a>
      <a routerLink="/acerca-de">¿Qué es pilates?</a>
      <a routerLink="/CvLucia">Lucía Carletta</a>
      <a routerLink="/clases">Clases</a>
      <a routerLink="/planes">Planes</a>
      <a routerLink="/horarios">Horarios disponibles</a>
      <a routerLink="/register">Registrarse</a>
    </div>
    <div class="nav-right">
      <a routerLink="/login" class="action-btn">Ingresar</a>
    </div>
  </nav>
</ng-template>
