<nav class="navbar" *ngIf="auth.isLoggedIn(); else noLogueado">
  <a routerLink="/">Inicio</a>
  <a (click)="logout()" style="cursor:pointer;">Cerrar sesión</a>
</nav>

<ng-template #noLogueado>
  <nav class="navbar">
    <a routerLink="/">Inicio</a>
    <a routerLink="/acerca-de">¿Qué es pilates?</a>
    <a routerLink="/CvLucia">Lucía Carletta</a>
    <a routerLink="/login">Iniciar Sesión</a>
    <a routerLink="/register">Registrarse</a>
  </nav>
</ng-template>

<!-- <div class="navbar">
  <a routerLink="/contacto">Contacto</a>
  <a routerLink="/clases">Clases</a>
  <a routerLink="/profesores">Profesores</a>
  <a routerLink="/horarios">Horarios</a>
  <a routerLink="/precios">Precios</a>
  <a routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a> -->