.navbar {
  /* background-color: #d877aa; */
  background-color: #F5F5F5;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-start; /* pega todo a la izquierda */
  width: 100%; /* ocupa todo el ancho */
  text-align: left;
}

.navbar a {
  text-decoration: none;
  color: #b53490;
  font-weight: bold;
  cursor: pointer;
}

.navbar a:hover {
  text-decoration: underline;
}

