<div class="table-container" *ngIf="horarios.length > 0">
  <h2>Gestión de Turnos</h2>
  <table>
    <thead>
      <tr>
        <th>Horario</th>
        <th *ngFor="let dia of dias">{{ dia }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hora of horas">
        <td class="hora-columna">{{ hora }}</td>
        <td *ngFor="let dia of dias">
          <!-- Bloqueo específico para Viernes 8:00 y 19:00 -->
          <ng-container *ngIf="!(dia === 'Viernes' && (hora === '08:00' || hora === '18:00')); else bloqueado">
            <ng-container *ngIf="hasTurno(dia, hora); else sinTurno">
              <ng-container *ngFor="let turno of getTurnos(dia, hora)">
                <div
                  class="clickeable {{ turno.nivel.toLowerCase() }}"
                  (click)="reservar(turno)">
                  <div class="nivel">{{ turno.nivel }}</div>
                  <div class="camas">Camas libres: {{ turno.totalCamas - turno.camasReservadas }}</div>
                  <div class="reservas" *ngIf="turno.reservas && turno.reservas.length > 0">
                    <div *ngFor="let r of turno.reservas">
                      <!-- Mostrar nombre y apellido si sos admin o si el turno coincide con tu nivel -->
                      <ng-container *ngIf="rolUsuario === 'admin' || turno.nivel.toLowerCase() === usuarioNivel.toLowerCase()">
                        {{ r.nombre }} {{ r.apellido }}
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>

          <ng-template #sinTurno>
            <div class="no-disponible"> -- </div>
          </ng-template>

          <ng-template #bloqueado>
            <div class="no-disponible">No disponible</div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>


