<section class="parallax-section">
  <div class="parallax-background img1"></div>
  <div class="parallax-background img2"></div>
  <div class="parallax-content">
    <div class="text-block">
      <h2>Bienvenid&#64;!</h2>
      <p>Te cuento un poco sobre las clases...</p>
    </div>
    <div class="text-block">
      <h2>Personalizadas</h2>
      <p>Mis clases son personalizadas....</p>
    </div>
    <div class="text-block">
      <h2>Sobre el Método</h2>
      <p>El metodo pilates....</p>
    </div>
  </div>
</section>

