.parallax-section {
  position: relative;
  height: 200vh; 
  overflow: hidden;
}

.parallax-background {
  background-attachment: fixed; 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: 1;
}
.parallax-background.img1 {
  top: 0;
  background-image: url('/assets/fotos/img1.jpg');
}

.parallax-background.img2 {
  top: 50%;
  background-image: url('/assets/fotos/img2.jpg');
}
.parallax-content {
  position: relative;
  z-index: 2; /* Encima de la imagen */
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 20px; /* Espaciado para scroll */
}

.text-block {
  background-color: rgba(199, 197, 197, 0.8);
  padding: 40px;
  margin-bottom: 100px;
  border-radius: 10px;
}
