.parallax-section {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.parallax-background {
  background-attachment: fixed; 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: 1;
}

.parallax-background.joseph2 {
  top: 0%;
  background-image: url('/assets/fotos/joseph2.jpg');
}

.parallax-background.joseph3 {
  top: 50%;
  background-image: url('/assets/fotos/joseph3.jpg');
}

.parallax-content {
  position: relative;
  z-index: 2; /* Encima de la imagen */
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px; /* Espaciado para scroll */
}

.text-block {
  background-color: rgba(199, 197, 197, 0.8); 
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.text-block-flex .creador-flex {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.img-joseph {
  width: 180px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}