<h1 class="titulo-centrado">EL ORIGEN DE PILATES</h1>

<P>
    Con el objetivo de estirar, fortalecer y equilibrar la postura corporal, esta actividad física se creó a mediados del siglo XX y desde entonces ha ganado adeptos en todo el mundo.
</P>
<p>
    La importancia de la actividad física para una rutina saludable ya se ha demostrado científicamente en varios estudios. Pero qué tipo de ejercicio es el más adecuado e interesante para cada persona es algo muy particular. Entre las diversas opciones disponibles, hay una que ha destacado y crecido en las últimas décadas entre los más variados sectores de la población: <a href="https://www.nationalgeographicla.com/historia/2024/09/el-origen-de-pilates-conoce-cuando-y-como-se-creo-este-popular-metodo-de-entrenamiento" target="_blank">pilates</a>.
</p>
<p>
    Creado con el objetivo de ser un sistema de ejercicios para estirar, promover la movilidad, fortalecer los músculos y restaurar el equilibrio del cuerpo, el pilates ha ganado adeptos en todo el mundo y su creación está ligada al nombre de su inventor. 
</p>
<h3>¿Quién fue el creador de pilates?</h3>

<div class="creador-pilates">
  <img src="assets/joseph-pilates-retrato-joven-color.jpg" alt="Joseph">
  <p>
    El método de ejercicios conocido hoy como pilates fue creado a mediados del siglo XX por
    <a href="https://www.corepilatesenergycenter.com/biografia-joseph-pilates/" target="_blank">Joseph H. Pilates</a>,
    gimnasta, culturista y empresario nacionalizado estadounidense pero de origen alemán. Pero fue evolucionando,
    perfeccionado por sus alumnos y discípulos a lo largo de las décadas siguientes, señala la Enciclopedia Britannica
    (una plataforma de conocimiento y educación).
  </p>
    <p>
        Joseph H. Pilates nació el 9 de diciembre de 1883 en la pequeña ciudad de Mönchengladbach, Alemania, y afirmó haber sufrido desgaste muscular en la infancia debido a enfermedades como el asma, la fiebre reumática y el raquitismo. Según Britannica, para combatir los efectos debilitantes de sus enfermedades, en su juventud practicó gimnasia y otras actividades físicas, como levantamiento de pesas y yoga. También estudió varios tipos de ejercicio y se enamoró del ideal griego clásico de equilibrar cuerpo, mente y espíritu.
    </p>
</div>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="assets/joseph1.jpg" class="d-block w-100" alt="joseph1">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/joseph2.jpg" class="d-block w-100" alt="joseph2">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/joseph3.jpg" class="d-block w-100" alt="joseph3">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/joseph4.jpg" class="d-block w-100" alt="joseph4">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
