<section class="parallax-section">
    <div class="parallax-background img1"></div>
    <div class="parallax-background img2"></div>
    <div class="parallax-content">
        <div class="text-block">
            <div class="planes-container">
                <h2 class="planes-title">Planes Pilates</h2>
                <p class="planes-subtitle">
                Los lugares se reservan únicamente realizando el abono del plan completo
                </p>
            </div>
        </div>
        <div class="text-block">
            <div class="planes-container">
                <div class="planes-list">
                    <div class="plan-item">
                    <span class="plan-name">Clase prueba o suelta</span>
                    <span class="plan-price">$8.000</span>
                    </div>
                    <div class="plan-item">
                    <span class="plan-name">4 clases</span>
                    <span class="plan-price">$32.000</span>
                    </div>
                    <div class="plan-item">
                    <span class="plan-name">8 clases</span>
                    <span class="plan-price">$40.000</span>
                    </div>
                    <div class="plan-item">
                    <span class="plan-name">12 clases</span>
                    <span class="plan-price">$50.000</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-block">
            <div class="planes-container">
            
                <p class="planes-info">
                    Los abonos se realizan siempre del <strong>1 al 10</strong> o el día que se comience para reservar todo el mes
                </p>

                <div class="transferencia-info">
                    <strong>Transferencias únicamente alias:</strong><br />
                    ESTUDIOPILATES
                </div>
            </div>
        </div>
    </div>  
</section>







