/* Fondo general y color de texto */
body, html {
  background-color: #ffe6f0; /* fucsia claro */
  color: #000000;            /* negro */
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

/* Asegurar que todos los elementos hereden correctamente */
* {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

/* Opcional: fondo para toda la app si usás un div raíz */
app-root {
  display: block;
  min-height: 100vh;
  background-color: #ffe6f0;
}

main.container {
  padding-bottom: 110px; /* Deja espacio para el footer fijo */
}
@media (max-width: 768px) {
  footer {
    position: static;
  }

body,
main.container {
    padding-bottom: 0;
  }
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}