<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="registro-wrapper">
    <div id="registro_alumnos" class="singin-container">
      <p class="titulo-registro">REESTABLECER CONTRASEÑA</p>

        <div class="form-group">
        <label for="newPassword">Nueva Contraseña:</label>
            <div class="password-wrapper">
                <input 
                    [type]="showPassword ? 'text' : 'password'" 
                    id="newPassword" 
                    formControlName="password" 
                />
                <button 
                    type="button" 
                    class="toggle-password" 
                    (click)="togglePasswordVisibility()"
                >
                    <i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                </button>
            </div>

            @if (Password?.errors && Password?.touched) {
                @if (Password?.hasError('required')) {
                    <p class="text-danger">La contraseña es requerida.</p>
                } @else if (Password?.hasError('pattern')) {
                <p class="text-danger">
                    Debe tener entre 6 a 15 caracteres, al menos una letra mayúscula, un número y un símbolo.
                </p>
                }
            }
        </div>

      <div class="form-group">
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" />
        <p class="text-danger" *ngIf="form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.touched">
          Este campo es obligatorio.
        </p>
        <p class="text-danger" *ngIf="form.hasError('mismatch') && form.get('confirmPassword')?.touched">
          Las contraseñas no coinciden.
        </p>
    </div>

      <div class="form-group center-button">
        <button type="submit" class="btn-singin" [disabled]="form.invalid">Guardar nueva contraseña</button>
      </div>

      <div *ngIf="mensaje" class="text-center" style="margin-top: 10px; color: green;">
        {{ mensaje }}
      </div>
      <div *ngIf="error" class="text-danger" style="margin-top: 10px;">
        {{ error }}
      </div>
    </div>
  </div>
</form>

